
<mat-card class="card">
    <form class="row justify-space" [formGroup]="registerForm">
        <div class="form">
            <mat-form-field class="input">
                <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>Rendimento Tributável</mat-label>
                <input matInput  (change)="calc()" type="number" formControlName="rendimentoTributavel" (change)="calc()">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>Previdência Oficial</mat-label>
                <input matInput  (change)="calc()" type="number"  formControlName="previdenciaOficial">
            </mat-form-field>


            <mat-form-field class="input ">
                <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>Dependente (quantidade)</mat-label>
                <input matInput  (change)="calc()" type="number"  formControlName="dependenteQuantidade">
            </mat-form-field>

            <mat-form-field class="input ">
                <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>Alimentandos (quantidade)</mat-label>
                <input matInput  (change)="calc()" type="number"  formControlName="alimentandosQuantidade">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>Despesa com instrução</mat-label>
                <input matInput  (change)="calc()" type="number"  formControlName="despesasComInstituicoes">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>Despesa médica</mat-label>
                <input matInput  (change)="calc()" type="number"  formControlName="despesasMedicas">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>Pensão alimentícia</mat-label>
                <input matInput  (change)="calc()" type="number"  formControlName="pensaoAlimenticia">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>Outras deduções</mat-label>
                <input matInput  (change)="calc()" type="number"  formControlName="outrasDeducoes">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>Deduções de incentivo</mat-label>
                <input matInput  (change)="calc()" type="number"  formControlName="deducoesDeIncentivo">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>Dedução do PRONAS/PCD</mat-label>
                <input matInput  (change)="calc()" type="number"  formControlName="deducaoDoPronasPcd">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>Dedução do PRONON</mat-label>
                <input matInput  (change)="calc()" type="number"  formControlName="deducaoDoPronon">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>Contribuição patronal Prev. Social emp. Doméstico</mat-label>
                <input matInput  (change)="calc()" type="number"  formControlName="contribuicoesPatronalPrevSocial">
            </mat-form-field>

            <mat-form-field class="input">
                <mat-label><mat-icon aria-hidden="false" aria-label="Example home icon">attach_money</mat-icon>IRRF Antecipado </mat-label>
                <input matInput  (change)="calc()" type="number"  formControlName="irrfAntecipado">
            </mat-form-field>
        </div>

        <div>
            <p>Dependente ${{registerForm.controls.dependente.value}}</p>
            <p>Alimentandos ${{registerForm.controls.alimentandos.value}}</p>
            <p>Totais das deduções ${{registerForm.controls.totaisDasDeducoes.value}}</p>
            <p>Base de Cálculo  ${{registerForm.controls.baseDeCalculo.value}}</p>
            <p>Cálculo Imposto ${{registerForm.controls.calculoImposto.value}}</p>
            <p>Valor do Imposto ${{registerForm.controls.valorDoImposto.value}}</p>
            <p>Parcela a Deduzir do Imposto ${{registerForm.controls.parcelaADeduzirDoImposto.value}}</p>
            <p>Imposto devido I ${{registerForm.controls.impostoDevidoUm.value}}</p>
            <p>Imposto devido II ${{registerForm.controls.impostoDevidoDois.value}}</p>
            <p>Alíquota efetiva (%) ${{registerForm.controls.aliquotaEfetiva.value}}</p>
            <p>IR a Pagar ou a Recuperar ${{registerForm.controls.irAPagarOuRecuperar.value}}</p>

        </div>

    </form>
</mat-card>

