.card{
  width: 80%;
  margin: 2em auto;
}

//.input{margin: 0 1em}

.ml1{
  margin-left: 1em;
}
.form{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row{
  display: flex;
}
.justify-space{
  justify-content: space-around;
}

//.divider{}

