<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Simulador IRPF</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>